@import 'src/app/colors.scss';

.auth-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 640px) {
    flex-direction: column;
  }
}




.panelLeft {
  width: 50%;
  height: 100%;
  background-color: white;
  @media screen and (max-width: 640px) {
    width: 100%;
    height: 50%;
  }

  .logo {
      height: 50%;
      width: 50%;
  }
}

.panel-right {
  width: 50%;
  height: 100%;
  background-color: $dark-red;
  color: white;

  @media screen and (max-width: 640px) {
    width: 100%;
  }
}
.login-input {
  width: 100%;
}

.login-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin-bottom: 45px;
    font-size: 25px;
    font-weight: 400;
  }

}

.login-button {
  display: flex;
  place-content: center;
  align-items: center;

  button {
    background-color: $red;
  }

  @media screen and (max-width: 640px) {
    flex-direction: column;
  }
}
