<div class="auth-body">

  <div class="panelLeft" fxLayoutAlign="center center">
    <img
      class="logo"
      src="../../../../assets/images/logo.gif"
     alt="Logo"/>
  </div>

  <div class="panel-right" fxLayoutAlign="center center">

    <div class="login-form" (keydown.enter)="login()">

      <div class="title">LOGIN</div>

      <form [formGroup]="loginForm" (ngSubmit)="login()">


        <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>

      </form>

      <div  class="mt-4 login-button">
        <button mdbBtn type="button" rounded="true" mdbWavesEffect (click)="login()">Login</button>
        <button mdbBtn type="button" rounded="true" mdbWavesEffect routerLink="/">Back</button>
      </div>

    </div>

  </div>

</div>

