<div class="auth-body">

  <div class="panel-left" fxLayoutAlign="center center">
    <img
      class="welcome-logo"
      src="../../../../assets/images/logo.png"
     alt="Logo"/>
  </div>

  <div class="panel-right" fxLayoutAlign="center center">

    <div class="login-form" (keydown.enter)="login()">

      <label for="inputUsername" class="col-form-label">Username</label>
      <div>
        <input [(ngModel)]="username" autofocus mdbInput type="text" class="form-control login-input" id="inputUsername" placeholder="Email">
      </div>

      <label for="inputPassword" class="col-form-label">Password</label>
      <div>
        <input [(ngModel)]="password" mdbInput type="password" class="form-control login-input" id="inputPassword" placeholder="Password">
      </div>

      <div  class="mt-4 login-button">
        <button mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect (click)="login()">Login</button>
        <button mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect routerLink="/">Back</button>
      </div>

    </div>

  </div>

</div>

